.AdminLoginScreen {
  &-overlay {
    // background: rgba(21, 21, 21, 0.85);
    background: linear-gradient(
      to bottom right,
      rgba(21, 21, 21, 0.1),
      rgba(21, 21, 21, 0.2)
    );
    height: 100%;
    width: 100%;
  }
  &-bg {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    transition: 1s; /* To avoid a jumpy result */
    background: url("../../../assets/images/login_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-container {
    box-sizing: content-box;
    max-width: 15rem;

    @media only screen and (max-width: 500px) {
      width: 100%;
      max-width: none;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    background-color: rgba(255, 255, 255, 0.85);
  }
}
