@import "variables.scss";

* {
  outline-color: $primary !important;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  *::selection {
    background-color: $primary;
  }
}

.my-bold-font {
  font-family: "Montserrat";
}
